*{
    box-sizing: border-box;
    margin-block-start: 0;
    margin-inline-end: 0;
}

body{
    background-color: #2d3142;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

#butt{
    position: absolute;
    right: 300px;
    color: #ef8253;
    font-size: 50px;
    z-index: 0;
    transition: all 0.6s ease-in;
   

}
#butt.show{
    right: 300px;
}


#slide2{
    margin-left: auto;
    background-color: #ef8253;
    display: block;
    width: 250px;
    height: 100vh;
    transition: all 0.6s ease-in;
    display: flex;
    transform: translateX(100%);
    
    
} 
#slide2.show{  
   transform: translateX(0%);
   
}
.item{
    text-decoration: none;
    color: white;
    font-size: 40px;
    padding-top: 50px;
    transition: all 0.6s ease-in;
    text-align: center;

}

.item:hover{
    border-bottom: 5px solid #fff;
   
}
.flex{
    display: flex;
    flex-direction: column;
    padding-top: 50px; 
    padding-left: 50px;
    
}